.landing-container, .cat-container, .dog-container{
    background-color: #f2f2f2;
    border-radius: 3px;
    margin-top: 1em;
    padding: .4em;
    text-align: center;
    border: 1px solid black;
}
p{
    margin-top: 2px;
    margin-bottom: 2px;
}
h3{
    margin-top: 4px
}